[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = {version = "*", index = "https://mirrors.aliyun.com/pypi/simple"}

[dev-packages]

[requires]
python_version = "3.8"
